
 @font-face {
    font-family: 'LCDMono2-Bold';
    src:url('lcdm2l__-webfont.woff') format('woff'),
        url('lcdm2l__-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



.display{
    grid-area: display;
    border-style: none;
    
    height: 15px;
    align-content: center;
    padding-bottom: 0.5em;
    padding-right: 0.25em;
    font-size: 1.8em;
    background-color: white;
    text-align: right;
   
    font-family: 'LCDMono2-Bold';
}

.miniDisplay{
    grid-area: miniDisplay;
    border-style: none;
    height: 12px;
    align-content: center;
    padding-bottom: 0.3em;
    padding-right: 0.25em;
    font-size: 1em;
    background-color: white;
    text-align: right;
    
    font-family: 'LCDMono2-Bold';
}

.operand:active {
    background-color: rgba(255,165,0, 0.8);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
    outline: none;
  } 

  .grayButt:active {
      background-color: lightgray;
      box-shadow: 0 px #666;
      transform: translateY(1px);
      outline: none;
  }

  .operand:focus {
      outline: none;
  }
  
  .grayButt:focus{
      outline:none;
  }



.rowOne{
    grid-area: rowOne;
    border-style: solid;
    border-width: 0px;
}

.rowTwo{
    grid-area: rowTwo;
    border-style: solid;
    border-width: 0px;
}

.rowThree{
    grid-area: rowThree;
    border-style: solid;
    border-width: 0px;
}

.rowFour{
    grid-area: rowFour;
    border-style: solid;
    border-width: 0px;
}

.rowFive{
    grid-area: rowFive;
    border-style: solid;
    border-width: 0px;
}

.container {
    padding-top: 20%;
    padding-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #ffffff;
    max-width: 160px;
    margin:auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: 

    "miniDisplay miniDisplay miniDisplay miniDisplay"
    "display display display display"  
    "rowOne rowOne rowOne rowOne"
    "rowTwo rowTwo rowTwo rowTwo"
    "rowThree rowThree rowThree rowThree"
    "rowFour rowFour rowFour rowFour"
    "rowFive rowFive rowFive rowFive";
}

.calcFrame {
    background-color: #ebebeb;
    border-style: transparent;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
}

.panelButton {
    padding: 5px 10px 5px 10px;
    width:3em;
    border-radius: 4px;
    border-style: none;
}

.oneButton {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;;
    width: 3em;
    border-radius: 4px;
    border-style: none;
}

.globalContainer{
    border: 1px;
    background-color: white;
    border-style: none;
    max-width:210px;
    height: auto;
    padding-bottom: 0px;
    margin: auto;
    justify-content: center;
    margin-top: 250px;
}

.operand {
    background-color: rgba(255,165,0, 0.6);
}



